@inherits LayoutComponentBase

<div class="page">
    @* Если вы хотите общее боковое меню для всех страниц, его можно вынести сюда.
       Но в нашем ТЗ sidebar находится внутри Home.razor для гибкости. *@
    <main>
        @Body
    </main>
</div>